.Content {
  position: fixed;
  width: 200px;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgb(38, 31, 68);

  box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
  z-index: 2;
  transition: transform .2s ease-out;
}

.Open {
  transform: translateX(0);
}

.Closed {
  transform: translateX(-100%);
}

.Logo {
  padding: 30px;
  box-sizing: border-box;
}

@media (min-width: 650px) {
  .Drawer {
    display: none;
  }
}