.Toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(38, 31, 68);
  padding: 0 15px;
}

.Logo {
  height: 40px;
}

.NavItems {
  display: none;
}

@media (min-width: 650px) {
  .NavItems {
    display: block;
  }
}